{% extends 'base.html' %}

{% block title %}Бетонные копии говорят Odeskconf{% endblock %}

{% block container %}
  <div class='row'>
    <div class='col-sm'>
      <form class='form-inline'>
        <div class='form-group mx-sm-3 mb-2'>
          <input class='form-control' id='username' name='username'
                 placeholder='Username (42 by default)'>
        </div>
        <div class='form-group mx-sm-3 mb-2'>
          <input class='form-control' id='query' name='query'
                 placeholder='Query'>
        </div>
        <button type='submit' class='btn btn-primary mb-2'>
          JUST DO IT!11
        </button>
      </form>
    </div>
  </div>

  {% if alert %}
    <div class='alert alert-primary' role='alert'>
      {{ alert }}
    </div>
  {% endif %}

  <table class='table-striped w-100'>
    {% for sentence in sentences %}
      <tr>
        <td>{{ sentence.capitalize() }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
